html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "iranSansLight";
}
.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  padding: 2rem 2rem;
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  width: 17rem;
}
.searchSection {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.8rem;
  -webkit-border-radius: 1.8rem;
  -moz-border-radius: 1.8rem;
  -ms-border-radius: 1.8rem;
  -o-border-radius: 1.8rem;
  height: 5.2rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.34);
  -moz-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.34);
  box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.34);
}
.searchBar {
  width: 100%;
  outline: none;
  border: none;
  font-family: "iranSansLight";
  padding: 2rem;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.searchImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 5.2rem;
  background-color: #651fff;
}
.searchImg {
  width: 3rem;
}
.accountSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 15rem;
}
.accountText {
  color: #8a8a8a;
  font-size: 1.4rem;
  font-family: "iranSansMedium";
}
.accountImg {
  width: 4rem;
  margin-right: 1rem;
}
.searchSectionMobile {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.8rem;
  -webkit-border-radius: 1.8rem;
  -moz-border-radius: 1.8rem;
  -ms-border-radius: 1.8rem;
  -o-border-radius: 1.8rem;
  height: 5.2rem;
  overflow: hidden;
  margin: 1rem 0;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.34);
  -moz-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.34);
  box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 0.34);
}
