@media (max-width: 319px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .container {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
