@media screen and (max-width: 319px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
  }
  .searchSectionMobile {
    height: 4rem;
    width: 80%;
    align-self: center;
  }
  .logoImg {
    max-width: 10rem;
  }
  .accountImg {
    width: 3rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    width: 768px;
  }
  .searchSectionMobile {
    display: flex;
  }
  .searchSection {
    display: none;
  }
  .logoImg {
    width: 14rem;
  }
  .accountText {
    display: none;
  }
  .accountSection {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
